.container {
    width: 560px;
    margin: 0 auto;
    margin-top: 7%;
    background-color: #F5BDAE;
    border: 2px dashed red;
}

.second-container {
    margin: 0 auto;
    background-color: #A2F5EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#out {
    text-align: center;
    padding-bottom: 20px;
}

button {
    margin-left: 5px;
    background-color: #BAAB68;
    color: cyan;
    border-radius: 9px;
}